h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

nav {
	background-color: #808080;
}

nav a{
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	float: left;
}

a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

span {
	color: #ff0000;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: solid #000000 1px;
	background-color: #FFF000;
	border-radius: 10px;
	float: left;
	margin: 8%;
}